.contact-me {
  font-size: 50px;
  margin-bottom: 10px;
}

.contact {
  font-size: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .contact-me {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .contact {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
